.box{
    width: 100px;
    height: 100px;
    border: 2px solid tomato;
    background-color: peachpuff;

    /* property name | duration | easing function | delay */
    /* transition: width 5s linear 3s,background-color 3s ease-in 5s; */
    transition:  transform 3s;
   
}
.box:hover{
    width: 400px;
    background-color: red;
    transform: rotate(45deg);
}